mixin nav_welcome(className, items)
	nav(class=`${className}`)
		ul(class=`${className}__list`)
			each item in items
				li(class=`${className}__item`)
					a(class=`${className}__link` href='#')= item

mixin user__intro()
		.user
			.photo
				img.main-photo(src='img/myphoto.jpg' alt='Фото Александра')
			.plate__name
				span.name-line Устинов Александр
			.plate__title
				block subtitle
					span.title-line Личный сайт веб разработчика

mixin nav(className, items)
	nav(class=`${className}`)
		ul(class=`${className}__list`)
			each item in items
				li(class=`${className}__item`)
					a(class=`${className}__link` href='#')= item